@media screen and (max-width: 600px) {
  .card-img-top {
    height: 100px;
    object-fit: cover;
  }

  .container,
  .row {
    display: block;
    margin: 15px 0;
  }
  .card {
    margin: 15px 0;
  }
}
